.about__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0 80px;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.45px;
    max-width: 501px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.about__title {
  font-family: $ff-permanent;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 48.5px;
  letter-spacing: 2px;
  margin: 0 0 30px;
  padding: 0 15px;
}
