.about {
  background-color: $color-default-white;
}

.about__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 88px 0 43px;
  overflow: hidden;
  position: relative;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    margin: 0;
    padding: 60px 0;
  }

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.45px;
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px 60px;
    color: $color-blue-zodiac;

    @include vp-1199 {
      font-size: 16px;
      padding: 0 15px 45px;
    }

    @include vp-767 {
      font-size: 14px;
      padding: 0 15px 30px;
    }
  }
}

.about__title {
  margin: 0 0 30px;
  padding: 0 15px;

  @include vp-1199 {
    margin: 0 0 20px;
  }
}

.about__swiper {
  overflow: visible;
  width: 1080px;
  margin: 0 auto;

  @include vp-1199 {
    width: 620px;
    padding: 0;
  }

  @include vp-767 {
    width: 290px;
  }
}

.about__swiper .swiper-slide {
  position: relative;
  z-index: 10;
  height: auto;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 46px;

  @include vp-1199 {
    margin-bottom: 30px;
  }
}

.about__slide {
  max-width: 340px;
  min-height: 183px;
  border-radius: 10px;
  border: 2px solid $color-default-black;
  border-bottom: 6px solid $color-default-black;
  text-align: left;
  color: $color-default-white;

  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 25px 23px 32px 20px;

  @include vp-1199 {
    max-width: 300px;
  }

  @include vp-767 {
    padding: 25px;
  }

  &--1 {
    background-color: $color-tomato;
  }

  &--2 {
    background-color: $color-light-pink;
  }

  &--3 {
    background-color: $color-amber;
  }

  &--4 {
    background-color: $color-tomato;
  }

  &--5 {
    background-color: $color-light-pink;
  }

  &--6 {
    background-color: $color-amber;
    color: $color-default-black;
  }

  p {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 11px 0 0 0;
    grid-column: span 2;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 15px;
      padding: 0;
      margin: 11px 0 0;
    }

    @include vp-767 {
      padding: 0;
    }
  }
}

.about__slide-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 0 0 10px;
  align-self: center;

  @include vp-1199 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 0 20px;
  }

  @include vp-767 {
    padding: 0 0 0 10px;
  }
}

.about__button {
  font-family: $ff-permanent;
  font-size: 30px;
  font-weight: 900;
  color: $color-default-black;
  cursor: pointer;
  position: relative;
}

.about__button-prev,
.about__button-next {
  background-color: transparent;
  border: 2px solid $color-default-black;
  border-radius: 10px;
  padding: 10px 10px 5px;
  cursor: pointer;
  width: 54px;
  height: 54px;

  &:hover,
  &focus,
  &:focus-visible {
    transform: scale(1.05);
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 5px 2px 3px;
  }

  @include vp-767 {
    height: 46px;
    width: 45px;  
  }
}

.about__button-icon {
  @include vp-1199 {
    width: 80%;
    height: 80%;
  }
}
