.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 403px;
  padding: 0;

  @media screen and (max-width: 767px) {
    padding: 0;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 403px;
      min-height: 50px;
      margin: 0 0 16px;
      padding: 0 0 0 16px;

      border: none;
      border-radius: 5px;
      outline: none;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;
    padding: 5px 20px;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  .input-message {
    bottom: -5px;
    margin: 0 0 10px 0;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

input::placeholder {
  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 145.4%;
  letter-spacing: 0.5px;
  color: $color-default-black;

  @include vp-1199 {
    font-size: 14px;
  }
}

input[name="Enter your email"]::placeholder,
input[name="Enter your password"]::placeholder {
  color: $color-blue-zodiac;
}
