.double-block {
  background-color: $color-default-white;
}

.double-block__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 31px;
  padding-top: 72px;
  padding-bottom: 72px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
