.form {
  form {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @include vp-1199 {
      flex-direction: column;
    }
  }
}

.form__email {
  background-image: url("../img/subscription-form/subscription-field.webp");
  border: none;
  background-repeat: no-repeat;
  background-size: 277px 50px;
  user-select: none;

  input {
    background-color: transparent;
    border: none;
    width: 277px;
    height: 50px;
    padding-left: 20px;

    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;

      &::placeholder {
        opacity: 0.5;
      }
    }

    &:active {
      padding-left: 20px;

      &::placeholder {
        color: $color-default-white;
      }
    }

    &:disabled {
      opacity: 0.2;
    }

    &::placeholder {
      font-family: $ff-montserrat;
      color: $color-default-black;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 145.4%;
      letter-spacing: 0.5px;

      @include vp-1199 {
        font-size: 16px;
      }
    }

    @include vp-1199 {
      width: 100%;
    }
  }

  @include vp-1199 {
    background-size: 100% 50px;
  }

  @include vp-767 {
    background-size: 100% 100%;

    input {
      width: 100%;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    transform: scale(1.01);
  }

  &:disabled {
    opacity: 0.2;
  }

  &.is-invalid {
    display: flex;
    flex-direction: column;

    span {
      padding: 5px 0 0 0;
      color: $color-error;
    }
  }
}

.form__button {
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0.45px;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  width: 189px;
  height: 48px;
  cursor: pointer;
  user-select: none;

  background-image: url("../img/subscription-form/subscription-btn.webp");
  background-repeat: no-repeat;
  background-size: 189px 48px;

  @include vp-1199 {
    font-size: 14px;
    background-size: 100% 50px;
    width: 100%;
    height: 50px;
  }

  @include vp-767 {
    background-size: 100% 100%;
    width: 100%;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    transform: scale(1.01);
  }

  &:active {
    color: $color-default-black;
    opacity: 0.9;
    outline: none;
  }

  &:disabled {
    opacity: 0.2;
  }
}
