.form {
  form {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}

.form__email {
  background-image: url('../img/subscription-form/subscription-field.webp');
  border: none;
  background-size: 277px 50px;

  input {
    background-color: transparent;
    border: none;
    width: 277px;
    height: 50px;

    &::placeholder {
      font-family: $ff-montserrat;
      color: $color-default-black;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 145.4%;
      letter-spacing: 0.5px;
      padding-left: 20px;
    }
  }
}

.form__button {
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0.45px;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  width: 189px;
  height: 48px;

  background-image: url('../img/subscription-form/subscription-btn.webp');
  background-size: 189px 48px;
}
