.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
  z-index: 2;

  @include vp-767 {
    gap: 23px;
  }
}

.nav__link {
  @include vp-767 {
    font-weight: 500;
  }

  &:hover,
  &focus,
  &:focus-visible {
    color: $color-blue-violet;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.nav.is-opened {
  transform: translate(0, 0) scale(1);
  visibility: hidden;
  position: absolute;
}
