.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
  z-index: 2;
}

// .nav__item {
//   @include vp-1199 {
//     font-size: 16px;
//   }
// }

.nav.is-opened {
  transform: translate(0, 0) scale(1);
  visibility: hidden;
  position: absolute;
}
