.container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 120px;
  padding-left: 120px;

  @include vp-1199 {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include vp-767 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
